/*! By Henrik Backman - henrikbackman.com */

/* ----- Base ----- */

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

html, button, input, select, textarea { font-family: sans-serif; }

body {
  background-color: #e4e4e4;
  box-shadow: inset 0 0 100px rgba(0, 0, 0, .3);
  color: #333;
  font: 300 14px/1.6 'Oswald', sans-serif;
  font: 300 0.9rem/1.6 'Oswald', sans-serif;
  margin: 0;
}

::-moz-selection	{ background: #999; color: #fff; text-shadow: none; }
::selection				{ background: #999; color: #fff; text-shadow: none; }


/* ----- Links ----- */

a {
  color: #444;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(81, 81, 81, 0.5);
}

a:hover {
  color: #c00;
  outline: 0;
  text-decoration: underline;
}


/* ----- Typography ----- */

h1 {
  font-size: 36px;
  font-size: 2.3rem;
  font-weight: 700;
  margin: 0.3em 0 0;
}

h2 {
  font-size: 17px;
  font-size: 1.1rem;
  font-weight: 400;
  margin: 0;
}

h1, h2 { text-transform: uppercase; }

p { margin: 1em 0; }

img {
  border: 0;
  display: block;
  image-rendering: optimizeQuality;
  width: 100%;
  -ms-interpolation-mode: bicubic;
}

figure { margin: 0; }

del { color: #999; }


/* ----- Content ----- */

#wrap {
  height: auto;
  margin: 0 auto;
  max-width: 1200px;
  padding: 50px 20px 30px;
  width: auto;
}

#header {
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 0 50px 0;
  text-align: center;
  width: 100%;
}

#projects {
  font-size: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

  .item,
  .contact {
    display: inline-block;
    font-size: 14px;
    font-size: 0.9rem;
    margin: 0 2% 30px;
  }

  .item {
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 0 1px rgba(0, 0, 0, .2);
    margin: 0 2% 30px;
    overflow: hidden;
    vertical-align: top;
    width: 96%;
  }

    .item img {
      box-shadow: 0 0 8px rgba(0, 0, 0, .2);
    }

    .item figcaption {
      padding: 25px 15px;
    }

  .contact {
    width: 96%;
  }

    .contact ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }


/* ---- MQs ---- */


@media only screen and (min-width : 610px) {

  /* Medium */

  h1 {
    font-size: 48px;
    font-size: 3rem;
  }

  .item { width: 46%; }

}

@media only screen and (min-width : 940px) {

  /* Large */

  body,
  .item,
  .contact {
    font-size: 16px;
    font-size: 1rem;
  }

  h1 {
    font-size: 95px;
    font-size: 3.8rem;
  }

  h2 {
    font-size: 19px;
    font-size: 1.2rem;
  }

  .item { width: 29.33333%; }

}
