/*! By Henrik Backman - henrikbackman.com */

$bg-color: #f7f7f7;
$font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-face-stack: 'Open Sans Condensed', sans-serif;
$font-color: #333;
$font-color-light: #666;
$toggle-width: 30px;
$item-radius: 2px;

/* ----- Base ----- */

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

html, button, input, select, textarea { font-family: sans-serif; }

body {
  background-color: $bg-color;
  box-shadow: inset 0 0 100px rgba(0, 0, 0, .2);
  color: $font-color;
  font: 300 13px/1.6 $font-stack;
  font: 300 0.8125rem/1.6 $font-stack;
  letter-spacing: -0.01em;
  margin: 0;
}

::-moz-selection	{ background: #999; color: #fff; text-shadow: none; }
::selection				{ background: #999; color: #fff; text-shadow: none; }


/* ----- Links ----- */

a {
  color: #444;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(81, 81, 81, 0.5);

  &:hover {
    color: #c00;
    outline: 0;
    text-decoration: underline;
  }
}


/* ----- Typography ----- */

h1, h2 {
  font-family: $font-face-stack;
}

h1 {
  font-size: 36px;
  font-size: 2.3rem;
  font-weight: 700;
  line-height: 1.2;
  margin: 0.3em 0 0;
  text-transform: uppercase;
}

h2 {
  font-size: 17px;
  font-size: 1.1rem;
  font-weight: 300;
  letter-spacing: 0;
  margin: 0;
  padding-right: $toggle-width - 3;
}

h3, strong {
  color: $font-color;
  font-weight: 400;
}

h3 {
  font-size: 1em;
  margin: 0 0 8px;
}

p { margin: 1em 0; }

img {
  border: 0;
  display: block;
  image-rendering: optimizeQuality;
  width: 100%;
  -ms-interpolation-mode: bicubic;
}

figure { margin: 0; }

del { color: #999; }


/* ----- Content ----- */

.wrap {
  height: auto;
  margin: 0 auto;
  max-width: 1700px;
  padding: 50px 20px 30px;
  width: auto;
}

.header {
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 0 50px 0;
  text-align: center;
  width: 100%;

  p {
    margin: 0;
  }
}

.projects {
  font-size: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

  .item,
  .contact {
    display: inline-block;
    font-size: 13px;
    font-size: 0.8125rem;
    margin: 0 2% 30px;
  }

  .item {
    background: #fff;
    border-radius: $item-radius;
    box-shadow: 0 0 1px rgba(0, 0, 0, .2);
    margin: 0 2% 30px;
    overflow: hidden;
    position: relative;
    vertical-align: top;
    width: 96%;

    p {
      margin: 0;
    }

    .info {
      &, a {
        color: $font-color-light;
      }
    }

    img {
      box-shadow: 0 0 8px rgba(0, 0, 0, .2);
    }

    figcaption {
      padding: 20px 15px;
    }
  }

  .contact {
    width: 96%;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }

.toggle-info {
  background: transparent;
  border: 0;
  cursor: pointer;
  display: inline-block;
  float: right;
  height: 20px;
  margin: -23px -8px 0 0;
  outline: none;
  padding: 0;
  position: relative;
  width: $toggle-width;
  z-index: 1;

  &:before,
  &:after {
    background: #999;
    content: "";
    height: 2px;
    margin-left: 6px;
    position: absolute;
    top: 8px;
    width: 10px;
  }

  &:before {
    left: 0;
    transform: rotate(45deg);
  }

  &:after {
    left: 6px;
    transform: rotate(-45deg);
  }

  &.visible {
    &:before {
      left: 6px;
    }

    &:after {
      left: 0;
    }

    & + .info {
      display: block;
    }
  }
}

.info {
  border-top: 1px solid #f5f5f5;
  display: none;
  margin: 20px -15px 0;
  padding: 20px 15px 0;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline;

      &:after {
        content: ", ";
      }

      &:first-child,
      &:last-child {
        &:after {
          content: "";
        }
      }
    }
  }
}

.responsive-icon {
  background-color: #ff5252;
  border-radius: 0 $item-radius 0 $item-radius;
  color: #fff;
  display: none;
  font-size: .8em;
  padding: 2px 5px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;

  &:after {
    content: "Responsive";
  }
}


/* ---- MQs ---- */


@media only screen and (min-width : 610px) {

  /* Medium */

  h1 {
    font-size: 48px;
    font-size: 3rem;
  }

  .item { width: 46%; }

}

@media only screen and (min-width : 940px) {

  /* Large */

  body,
  .item,
  .contact {
    font-size: 14px;
    font-size: 0.875rem;
  }

  h1 {
    font-size: 95px;
    font-size: 3.8rem;
  }

  h2 {
    font-size: 19px;
    font-size: 1.2rem;
  }

  .item { width: 29.33333%; }

}
