#mini_kalender {
	padding: 5px 0 20px 5px;
	float:left;
	}

#mini_kalender table {
	border-collapse: collapse;
	border-spacing: 0px;
	}

#mini_kalender table tr {

	}
	
#mini_kalender table td {
	width:  38px;
	height: 36px;
	vertical-align: top;
	border: #d0d0d0 1px solid;
	}
	
/* Länkar */	
	
#mini_kalender table a {
	position: relative;
	padding: 9px 0;
	width: 36px;
	text-align: center;
	color: #000;
	background: #fff;
	text-decoration: none;
	border: #fff 1px solid;
	display: block;
	cursor: default;
	}
	
#mini_kalender table a.on {
	background: #aadea2;
	border: #aadea2 1px solid;
	cursor: pointer;
	}	
	
#mini_kalender table a:hover {
	background: #e8e8e8;
	border: #e8e8e8 1px solid;
	}
	
#mini_kalender table a:hover.on {
	background: #aadea2;
	border: #aadea2 1px solid;	
	}
	
#mini_kalender table a span {
	position: absolute;
	left: -5px;
	bottom: 39px;
	z-index: 100;
	display: none;
	}
	
#mini_kalender table a:hover span {
	display: block;
	}
	
#mini_kalender table a:hover span p {	
	padding: 10px;
	background: #fff;
	font-size: 11px;
	text-align: left;
	white-space: nowrap;
	border: #c0c0c0 1px solid;
	}
	
#mini_kalender table a span em {
	margin: -1px 0 0 0;
	display: block;
	background: url(../img/kalender_pil.gif) no-repeat 15px 0;
	height: 10px;
	}	

/* weekend */

#mini_kalender table td.sat a, #mini_kalender table td.sun a {
	background: #eee;
	}

#mini_kalender table td.sat a:hover,		
#mini_kalender table td.sun a:hover {
	background: #d8d8d8;
	}
	
/* red active */
	
#mini_kalender table a.active,
#mini_kalender table a:hover.active,
#mini_kalender table td.sat a:hover.active,
#mini_kalender table td.sun a:hover.active {
	border: #1ab700 1px solid; 
 	}
 	
#mini_kalender table a.red,
#mini_kalender table td.sat a:hover.red,
#mini_kalender table td.sun a:hover.red {
	border: #bd2728 1px solid; 
 	}	