@charset "UTF-8";
/* CSS Document */
/* Färg på logo: #aad7a4 */



/*
-------------------------------------------------------------------------------
Boby
-------------------------------------------------------------------------------
*/

body{
	padding: 0;
	margin: 0;
	font: 11px Tahoma, Arial, Helvetica, Verdana, sans-serif;
	color: #000000;
	line-height: 13px;
	background: #ffffff;
	}
	
a,
a:link,
a:visited{
	font: 11px Tahoma, Arial, Helvetica, Verdana, sans-serif;
	color: #000000;
	text-decoration: underline;
	margin: 0px;
	}

a:hover{
	color: #000000;
	margin: 0px;
	}

	
* {
	margin:  0;
	padding: 0;
	border:  none;
	outline: none;
	}

ul, li {
	list-style-type: none;
	}	
	
.clear{
	clear: both;
	}



/*
-------------------------------------------------------------------------------
Wrappers
-------------------------------------------------------------------------------
*/	
	
.wrapper{
	width: 980px;
	height: auto;
	margin: 0 auto;
	padding: 10px;
	background: #ffffff;
	}
	
.content{
	width: 800px;
	height: auto;
	float: left;
	background: #ffffff;
	}



/*
-------------------------------------------------------------------------------
Menu
-------------------------------------------------------------------------------
*/

#menu {
	margin: 30px 0px 10px 0;
	width: auto;
	clear: both;
	float: left;
	}
	
#menu ul li {
	float: left;
	}
	
#main_menu {
	width: 555px;
	height: 24px;
	background: #ffffff url(main_menu.jpg) no-repeat 0 0;
	}
	
#main_menu li a { 
	height: 24px;
	text-indent: -9999px;
	display: block;
	margin: 0px 0px 0px 0px;
	}
	
#main_menu li#nav_start a					{ width: 69px; }	
#main_menu li#nav_start a:hover				{ background: url(main_menu.jpg) no-repeat 0 -24px; }
#main_menu li#nav_start a.active,
#main_menu li#nav_start a.active:hover		{ background: url(main_menu.jpg) no-repeat 0 -48px; }

#main_menu li#nav_kalender a				{ width: 114px; }	
#main_menu li#nav_kalender a:hover			{ background: url(main_menu.jpg) no-repeat -69px -24px; }
#main_menu li#nav_kalender a.active,
#main_menu li#nav_kalender a.active:hover	{ background: url(main_menu.jpg) no-repeat -69px -48px; }

#main_menu li#nav_artiklar a				{ width: 90px; }	
#main_menu li#nav_artiklar a:hover			{ background: url(main_menu.jpg) no-repeat -183px -24px; }
#main_menu li#nav_artiklar a.active,
#main_menu li#nav_artiklar a.active:hover 	{ background: url(main_menu.jpg) no-repeat -183px -48px; }

#main_menu li#nav_bloggar a					{ width: 88px; }	
#main_menu li#nav_bloggar a:hover			{ background: url(main_menu.jpg) no-repeat -273px -24px; }
#main_menu li#nav_bloggar a.active,
#main_menu li#nav_bloggar a.active:hover	{ background: url(main_menu.jpg) no-repeat -273px -48px; }

#main_menu li#nav_pren a					{ width: 122px; }	
#main_menu li#nav_pren a:hover				{ background: url(main_menu.jpg) no-repeat -361px -24px; }
#main_menu li#nav_pren a.active,
#main_menu li#nav_pren a.active:hover		{ background: url(main_menu.jpg) no-repeat -361px -48px; }

#main_menu li#nav_forum a					{ width: 72px; }	
#main_menu li#nav_forum a:hover				{ background: url(main_menu.jpg) no-repeat -483px -24px; }
#main_menu li#nav_forum a.active,
#main_menu li#nav_forum a.active:hover		{ background: url(main_menu.jpg) no-repeat -483px -48px; }



/*
-------------------------------------------------------------------------------
Banner
-------------------------------------------------------------------------------
*/

.bannernav{
	width: 800px;
	height: 140px;
	float: left;
	background: #ffffff url(img/header.jpg) top no-repeat;
	margin: 0px 10px 15px 0;
	}
	
	
	
/*
-------------------------------------------------------------------------------
Notiser
-------------------------------------------------------------------------------
*/

.box1 {
	width: 140px;
	height: auto;
	padding: 10px;
	float: left;
	margin-top: 8px;
	}
	
.box {
	width: 140px;
	height: auto;
	padding: 10px;
	float: left;
	margin-top: 8px;
	}	

.box1 p { 
	margin: 0px 0px 35px 0px;
	color: #666666;
	}	
	
.box p { 
	margin: 0px 0px 35px 0px;
	color: #666666;
	}
	
.box h8{
	line-height: 30px;
	font-size: 12px;
	font-weight: bold;
	}
	
.box1 h8{
	line-height: 30px;
	font-size: 12px;
	font-weight: bold;
	}
	
.box h11{
	line-height: 12px;
	font-size: 10px;
	color: #000000;
	float: right;
	margin-top: 5px;
	}
	
.box1 h11{
	line-height: 12px;
	font-size: 10px;
	color: #000000;
	float: right;
	margin-top: 5px;
	}
	
	

/*
-------------------------------------------------------------------------------
Reklam
-------------------------------------------------------------------------------
*/

.fiskpinne{
	width: 960px;
	height: 110px;
	margin: 0 0 10px 0;
	background: #ffffff;
	float: left;
	}

.skyskrapa{
	width: 160px;
	height: 600px;
	margin: 0 0 10px 0px;
	float: right;
	}

.sidreklam{
	width: 160px;
	height: auto;
	float: right;
	text-align: right;
	margin-left: 20px;
	margin-top: -1px;
	padding: 0 0 0 0;
	background: #ffffff;
	}
   
.sidreklam h7{
	font-size: 10px;
	width: 100px;
	color: gray;
	}
	
.boxreklam{
	width: 300px;
	height: 250px;
	margin: 0 10px 20px 10px;
	float: right;
	background: #f5f5f5;
	}
	
.boxreklam2{
	width: 300px;
	height: 250px;
	margin: 0 0 20px 0;
	float: right;
	background: #f5f5f5;
	}
   


/*
-------------------------------------------------------------------------------
Content
-------------------------------------------------------------------------------
*/

.padda{
	width: 780px;
	height: 180px;
	float: left;
	background: #ffffff;
	margin: 0 0 20px 10px;
	}

.newbild{
	width: 535px;
	height: 200px;
	margin: 10px 10px 10px 10px;
	float: left;
	background-color: black;
	}

.newtext{
	width: 170px;
	height: 200px;
	margin: 10px 10px 10px 10px;
	float: left;
	background-color: red;
	}

.newtext h2{
	font-size: 12px;
	}

.new{
	width: 725px;
	height: 230px;
	margin: 10px 10px 20px 10px;
	float: left;
	background: #ffffff;
	}

.newcont{
	width: 45%;
	height: 170px;
	margin: 10px 10px 10px 10px;
	padding: 20px 20px 20px 20px;
	float: right;
	background-color: white;
	}

.newcont h3{
	font: 18px Clarendon, Georgia, Verdana;
	font-weight: normal;
	margin: 0px 0 10px 0;
	}

.newcont h4{
	font-size: 10px;
	line-height: 11px;
	font-weight: normal;
	}

.space{
	width: 100%;
	height: 3px;
	background: #cfffcd;
	margin: 3px 0 10px 0;
	}

.line1{
	width: 1px;
	height: 210px;
	margin: 10px 0 10px 10px;
	background-color: silver;
	text-indent: -9999px;
	float: left;
	}	
	
.line{
	width: 1px;
	height: 210px;
	margin: 10px 0 0 0;
	background-color: silver;
	text-indent: -9999px;
	float: left;
	}
	
.pic{
	width: 160px;
	height: auto;
	margin: 20px 10px 0 10px;
	float: left;
	}
	
.pic2{
	width: 160px;
	height: 150px;
	margin: 20px 0 0 10px;
	float: left;
	}
	
.pic1{
	width: 160px;
	height: 150px;
	margin: 20px 10px 0 0;
	float: left;
	}
	
.kategori{
	width: 150px;
	height: 15px;
	float: left;
	padding-left: 10px;
	font-size: 11px; 
	}
	
.kategori2{
	width: 150px;
	height: 15px;
	float: left;
	padding-left: 10px;
	font-size: 11px; 
	}
	
.kategori3{
	width: 150px;
	height: 15px;
	float: left;
	padding-left: 10px;
	font-size: 11px; 
	}
	
.kategori4{
	width: 150px;
	height: 15px;
	float: left;
	padding-left: 10px;
	font-size: 11px; 
	}
	
.kategori5{
	width: 150px;
	height: 15px;
	float: left;
	padding-left: 10px;
	font-size: 11px; 
	}

.kategori a{
	border-bottom: 3px solid #a2e55e;
	width: 140px;
	display: block;
	padding: 0 0 5px 0;
	}
	
.kategori2 a{
	border-bottom: 3px solid #fb6161;
	width: 140px;
	display: block;
	padding: 0 0 5px 0;
	}
	
.kategori3 a{
	border-bottom: 3px solid #f0db65;
	width: 140px;
	display: block;
	padding: 0 0 5px 0;
	}
	
.kategori4 a{
	border-bottom: 3px solid #87c9e8;
	width: 140px;
	display: block;
	padding: 0 0 5px 0;
	}
	
.kategori5 a{
	border-bottom: 3px solid #eea4d7;
	width: 140px;
	display: block;
	padding: 0 0 5px 0;
	}
	
.div360{
	width: 311px;
	height: 170px;
	float: left;
	padding: 20px 20px 20px 20px;
	margin: 10px 10px 10px 10px;
	background: #cfffcd;
	}
	
.flatline{
	width: 725px;
	height: 1px;
	float: left;
	background-color: silver;
	margin: 10px 10px 10px 10px;
	}
	
.foot{
	width: 970px;
	height: 20px;
	text-align: center;
	margin: 20px 0 15px 10px;
	padding-top: 10px;
	color: #cccccc;
	float: left;
	border-top: solid 1px #cccccc;
	}
	
.ligg{
	width: 685px;
	height: 110px;
	margin: 10px 10px 10px 10px;
	padding: 20px 20px 20px 20px;
	float: left;
	background: url(img/gradient.jpg) top repeat-x;
	}
	
.liggpic{
	width: 200px;
	height: 110px;
	float: left;
	margin: 0 20px 0 0;
	background: url(img/200110.jpg) top no-repeat;
	}
	
.pichold{
	width: 780px;
	height: 352px;
	float: left;
	margin: 0 0 0 10px;
	}
	
.blogpic{
	width: 350px;
	height: 200px;
	float: left;
	margin: 10px 0 0 10px;
	}
	
.blogpic2{
	width: 350px;
	height: 200px;
	float: right;
	margin: 10px 15px 0 0;
	}
	
.art{
	width: 738px;
	height: 160px;
	float: left;
	margin: 10px 10px 10px 10px;
	padding: 20px 20px 20px 20px;
	background: #f5f5f5;
	border: 1px solid #C0C0C0;
	}
	
.art p{
	line-height: 32px;
	}
	
.artleft{
	width: 240px;
	height: 160px;
	float: left;
	margin-left: 10px;
	}
	
.artright{
	width: 220px;
	height: 160px;
	float: right;
	}
	
.katline{
	width: 460px;
	height: 3px;
	float: left;
	background: #87c9e8;
	margin: 0 0 20px 0;
	}
	
.katwrite{
	width: 460px;
	height: auto;
	float: left;
	margin: 10px 10px 0 10px;
	text-align: justify;
	line-height: 15px;
	}
	
.katside{
	width: 300px;
	height: auto;
	float: right;
	margin: 10px 10px 0 10px;
	background: #ffffff;
	}

.katside p { 
	margin: 0px 0px 35px 0px;
	color: #666666;
	}
	
.katside h8{
	line-height: 30px;
	font-size: 12px;
	font-weight: bold;
	}
	
.katside h11{
	line-height: 12px;
	font-size: 10px;
	color: #000000;
	float: right;
	margin-top: 5px;
	}
	
.skrivenav{
	width: 254px;
	height: 49px;
	float: right;
	padding: 23px 20px 17px 20px;
	margin: 0 10px 20px 0;
	border: solid 3px #f5f5f5;
	font-size: 11px;
	line-height: 13px;
	color: #cccccc;
	}
	
.skrivenav a{
	font-size: 11px;
	line-height: 18px;
	color: #cccccc;
	}
	
.skrib{
	width: 50px;
	height: 69px;
	float: right;
	margin: -12px -10px 0 0;
	background: url(img/skrib.jpg) top no-repeat;
	}
	
#kalreadtext{
	width: 290px;
	height: 230px;
	float: right;
	margin: 0 10px 0 0;
	padding: 10px 10px 10px 0;
	line-height: 15px;
	}
	
#kalbild{
	width: 300px;
	height: auto;
	float: right;
	margin: 10px 10px 10px 0;
	}

#kaltext{
	width: 420px;
	height: auto;
	float: left;
	margin: 10px 10px 10px 10px;
	padding: 20px 20px 20px 20px;
	background: #f5f5f5;
	}
	
#kaltext h1{
	font-size: 20px;
	color: #ff0000;
	font-weight: bold;
	}
	
#kaltext h2{
	font-size: 11px;
	text-transform: uppercase;
	font-weight: bold;
	}
	
#kaltext h3{
	font-size: 10px;
	font-weight: lighter;
	margin-top: 8px;
	}


/*
-------------------------------------------------------------------------------
Kalendrar
-------------------------------------------------------------------------------
*/

#minikal{
	width: 455px;
	height: 246px;
	float: left;
	margin: 0 11px 20px 10px;
	padding: 2px 2px 2px 2px;
	background: #f5f5f5;
	}
	
.minigray{
	width: 63px;
	height: 27px;
	padding: 12px 0 0 0;
	float: left;
	margin: 1px 1px 1px 1px;
	background: #ffffff;
	text-align: center;
	}
	
.minigray2{
	width: 63px;
	height: 27px;
	padding: 12px 0 0 0;
	float: left;
	margin: 1px 1px 1px 1px;
	background: #f9f9f9;
	text-align: center;
	}
	
.minigray3{
	width: 63px;
	height: 27px;
	padding: 12px 0 0 0;
	float: left;
	margin: 1px 1px 1px 1px;
	background: #ceebca;
	text-align: center;
	}
	
.minigray4{
	width: 63px;
	height: 27px;
	padding: 12px 0 0 0;
	float: left;
	margin: 1px 1px 1px 1px;
	background: #faafd4;
	text-align: center;
	}
	
#minikal a:hover{
	width: 63px;
	height: 27px;
	background: #aad7a4;
	}
	
#minikal a{
	text-decoration: none;
	margin: 1px;
	}
	
.month{
	width: 480px;
	height: 40px;
	float: left;
	margin: 20px 0 10px 0;
	background: #ffffff;
	font: 25px Georgia, Tahoma, Arial, Sans-serif;
	text-align: center;
	color: #ff0000;
	}
	
.formonth{
	width: 150px;
	height: 30px;
	float: left;
	margin: 20px 0 10px 0;
	background: #ffffff;
	padding-top: 5px;
	font: 12px Georgia, Tahoma, Arial, Sans-serif;
	text-align: left;
	color: #ff0000;
	}
	
.nasmonth{
	width: 150px;
	height: 30px;
	float: right;
	margin: 20px 0 10px 0;
	background: #ffffff;
	padding-top: 5px;
	font: 12px Georgia, Tahoma, Arial, Sans-serif;
	text-align: right;
	color: #ff0000;
	}

#hold{
	width: 780px;
	height: auto;
	float: left;
	margin: 0 10px 0 10px;
	padding: 0 0 0 1px;
	line-height: 20px;
	}
	
#hold a:hover{
	width: 174px;
	height: 80px;
	background: #f5f5f5;
	}
	
#hold a{
	text-decoration: none;
	}

.vit{
	width: 174px;
	height: 80px;
	background: #aad7a4;
	float: left;
	margin: 0 1px 1px 0;
	padding: 10px 10px 10px 10px;
	line-height: 20px;
	}
	
.color{
	width: 174px;
	height: 80px;
	background: #ffffff;
	float: left;
	margin: 0 1px 1px 0;
	padding: 10px 10px 10px 10px;
	line-height: 20px;
	}
	
.vit h9{
	font-size: 20px;
	font-weight: bold;
	color: #ff0000;
	}
	
.color h9{
	font-size: 20px;
	font-weight: bold;
	color: #ff0000;
	}
	
.vit h10{
	font-size: 10px;
	line-height: 20px;
	}
	
.color h10{
	font-size: 10px;
	line-height: 20px;
	}
	
	

/*
-------------------------------------------------------------------------------
Sök
-------------------------------------------------------------------------------
*/

form.sok {
	margin: 54px 20px 0 0;
	padding: 0px;
	background: transparent;
	width: 171px;
	height: 22px;
	float: right;
	}
	
form.sok p {
	margin: 0;
	}
	
input, textarea, select {
	margin:  3px 5px 0 0;
	padding: 5px;
	font: 12px/28px arial, helvetica, sans-serfi;
	border: #c0c0c0 1px solid;
	}
	
.box2{
	margin 0 5px 0 0;
	}
	
form.sok input {
	margin: 0;
	padding: 5px 5px 0 5px;
	width: 119px;
	height: 17px;
	background: #f5f5f5;
	border-color: #cccccc;
	float: left;
	border: 1px solid #C0C0C0;
	font-size: 10px;
	}	

form.sok input.sok_submit {
	margin: 0 0 0 5px;
	padding: 0 0 0 1px;
	width: 32px;
	height: 24px;
	background: #cccccc;
	color: #808080;
	text-align: center;
	cursor: pointer;
	float: right;
	border: 1px solid #C0C0C0;
	font-size: 10px;
	}
	
/* End CSS Document */
