nav.menu#menu
  ul
    li
      a.me(href='/')
        amp-img(src='/assets/img/henrikbackman-2018.jpg', width='100', height='100', layout='responsive')
          noscript
            img(src='/assets/img/henrikbackman-2018.jpg', width='100', height='100', alt='#{author}')
    li
      a(href='#about') About me
    li
      a(href='#work') Selected work
    li
      a(href='#customers') Costumers
    li
      a(href='#contact') Contact
