@charset "UTF-8";
/* CSS Document */

/* ----- Reset ----- */

body, html, ul, ol, li, input, textarea, p, img { border: 0; margin: 0; outline: 0; padding: 0; }
h1, h2, h3, h4, h5, h6 { margin: 0; }


/* ----- Body ----- */

body {
	background: #671203 url(../img/background.png) top center repeat-y;
	color: #333;
	font: 12px/20px "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Helvetica, Arial, Verdana, sans-serif;
	min-height: 100%;
	}
	
body, html 	{ width: 100%; }
html 		{ height: 100%; }

a 			{ color: #08f; text-decoration: none; }
a:hover 	{ color: #08f; text-decoration: underline; }

.clear 		{ clear: both; }


/* ----- Content ----- */

div#page_wrap {
	background: #fff;
	display: block;
	height: 100%;
	margin: 0 auto;
	min-height: 100%;
	padding: 0 0 30px 0;
	width: 960px;
	}
	
div#top_news {
	border-bottom: 5px solid #d00;
	float: left;
	height: 535px;
	text-align: right;
	width: 960px;
	}
	
	div#top_news img {
		display: block;
		float: left;
		position: absolute;
		z-index: 0;
		}
		
	div#top_news h1 a {
		background-color: #000;
		background: rgba(0,0,0,0.5);
		color: #fff;
		cursor: pointer;
		font-size: 70px;
		line-height: 108px;
		padding: 0 20px;
		position: relative;
		z-index: 1;
		}
		
		div#top_news h1 a:hover { text-decoration: none; }
		
		div#top_news h1 {
			float: right;
			margin: 275px 50px 0 0;
			position: relative;
			z-index: 1;
			}
			
div.post {
	float: left;
	height: 250px;
	margin: 30px 0 0 0;
	padding: 0 0 0 30px;
	width: 900px;
	}
	
	div.post img {
		border: 3px solid #666;
		float: right;
		margin: 0 0 0 20px;
		}
		
	div.post h2 {
		font-size: 24px;
		line-height: 30px;
		margin: 0 0 10px 0;
		}
		
		div.post h2 a 		{ color: #333; }
		div.post h2 a:hover { text-decoration: none; }
		
	div.post span.red {
		color: #d00;
		font-size: 11px;
		}
		
	div.post a.comments {
		font-size: 11px;
		margin: 0 0 0 30px;
		}
		
	div.post p { margin: 10px 0 20px; }
		
	div.post a.readmore {
		background: url(../img/readmore_btn.gif) 0 0 no-repeat;
		color: #fff;
		float: right;
		height: 25px;
		padding: 5px 0 0 0;
		text-align: center;
		width: 90px;
		}
		
		div.post a.readmore:hover { 
			background: url(../img/readmore_btn.gif) 0 -30px no-repeat;
			text-decoration: none;
			}
	
	
/* ----- Menu ----- */

ul#menu {
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	background: url(../img/menu.png) 0 0 no-repeat;
	border-bottom: 1px solid #781b1b;
	border-left: 1px solid #781b1b;
	border-right: 1px solid #781b1b;
	display: block;
	height: 49px;
	left: 50%;
	margin: 0 0 0 -430px;
	position: fixed;
	top: 0;
	width: 858px;
	z-index: 10;
	}
	
	ul#menu li {
		float: left;
		overflow: hidden;
		text-indent: -9999px;
		}
		
		ul#menu li a {
			display: block;
			height: 50px;
			}
			
			ul#menu li#nav_90plus a						{ margin: 0 21px 0 1px; width: 96px; }	
			ul#menu li#nav_90plus a:hover				{ background: url(../img/menu.png) no-repeat -1px 0; }
			ul#menu li#nav_90plus a.active,
			ul#menu li#nav_90plus a.active:hover		{ background: url(../img/menu.png) no-repeat -1px 0; }
			
			ul#menu li#nav_start a						{ margin: 0 41px 0 0; width: 58px; }	
			ul#menu li#nav_start a:hover				{ background: url(../img/menu.png) no-repeat -118px -50px; }
			ul#menu li#nav_start a.active,
			ul#menu li#nav_start a.active:hover			{ background: url(../img/menu.png) no-repeat -118px -100px; }
			
			ul#menu li#nav_galleri a					{ margin: 0 41px 0 0; width: 69px; }	
			ul#menu li#nav_galleri a:hover				{ background: url(../img/menu.png) no-repeat -217px -50px; }
			ul#menu li#nav_galleri a.active,
			ul#menu li#nav_galleri a.active:hover 		{ background: url(../img/menu.png) no-repeat -217px -100px; }
			
			ul#menu li#nav_video a						{ margin: 0 41px 0 0; width: 64px; }	
			ul#menu li#nav_video a:hover				{ background: url(../img/menu.png) no-repeat -327px -50px; }
			ul#menu li#nav_video a.active,
			ul#menu li#nav_video a.active:hover			{ background: url(../img/menu.png) no-repeat -327px -100px; }
			
			ul#menu li#nav_spelschema a					{ margin: 0 190px 0 0; width: 110px; }	
			ul#menu li#nav_spelschema a:hover			{ background: url(../img/menu.png) no-repeat -432px -50px; }
			ul#menu li#nav_spelschema a.active,
			ul#menu li#nav_spelschema a.active:hover 	{ background: url(../img/menu.png) no-repeat -432px -100px; }
			
			ul#menu li#nav_arsenal a					{ width: 108px; }	
			ul#menu li#nav_arsenal a:hover				{ background: url(../img/menu.png) no-repeat -732px -50px; }
			ul#menu li#nav_arsenal a.active,
			ul#menu li#nav_arsenal a.active:hover		{ background: url(../img/menu.png) no-repeat -732px -100px; }
			
			
/* ----- Footer ----- */

div#footer {
	border-top: 1px solid #ccc;
	display: block;
	height: 66px;
	margin: 0 auto;
	padding: 30px 0;
	text-align: center;
	width: 960px;
	}
	
	div#footer img { margin: 0 0 10px 0; }