@charset "UTF-8";
/* CSS Document */

/*	Primarfarg:		#479A4F	Gron
	Komplementfarg: #ADD4A5 Ljusgran
	Sekundarfarger: #24353C Morkbla
					#F8A828 Gulorange
					#11A24D Gron
					#92B6C8 Grabla
					#DF0084	Rosa
					#1FA4D8 Ljusbla
					#DD1B22 Rod		*/

/*	background: #f5f5f5 url(img/bg2.jpg) top center repeat-y; */


/*	background: #2b3336 url(img/main_menu.jpg) top no-repeat;
	margin: 10px 0 20px -10px; */
	
/*	border-bottom: solid 1px #24353C; */


/* Start CSS Document */

/*
-------------------------------------------------------------------------------
Boby
-------------------------------------------------------------------------------
*/

body{
	padding: 0;
	margin: 0;
	font: 11px Arial, Helvetica, Verdana, sans-serif;
	color: #333333;
	line-height: 13px;
	background: #f5f5f5 url(img/bg.jpg) top center repeat-y;
	}
	
a,
a:link,
a:visited{
	color: #000000;
	text-decoration: underline;
	margin: 0px;
	}

a:hover{
	color: #000000;
	margin: 0px;
	}

* {
	margin:  0;
	padding: 0;
	border:  none;
	outline: none;
	}

ul, li {
	list-style-type: none;
	}			
	
.clear{
	clear: both;
	}



/*
-------------------------------------------------------------------------------
Wrappers
-------------------------------------------------------------------------------
*/	
	
.wrapper{
	width: 980px;
	height: auto;
	margin: 0 auto;
	padding: 0 10px 10px 10px;
	background: #fff;
	}
	


/*
-------------------------------------------------------------------------------
Banner
-------------------------------------------------------------------------------
*/

.banner{
	width: 1000px;
	height: 157px;
	background: transparent url(img/banner_guss2.jpg) center no-repeat;
	margin: 0 0 -5px -10px;
	}
	
/*  url(img/banner5.jpg) center no-repeat */
	
	
	
/*
-------------------------------------------------------------------------------
Menu
-------------------------------------------------------------------------------
*/

#menu {
	margin: 0 0 20px -10px;
	width: auto;
	clear: both;
	}
	
#menu ul li {
	float: left;
	display: inline;
	}

/* main menu */
	
#main_menu {
	width: 1000px;
	height: 50px;
	background: transparent url(img/main_menu.jpg) no-repeat 0 0;
	}
	
#main_menu li a { 
	height: 50px;
	text-indent: -9999px;
	display: block;
	}

#main_menu li#nav_hem a						{ width: 107px; }	
#main_menu li#nav_hem a:hover				{ background: url(img/main_menu.jpg) no-repeat 0 -50px; }
#main_menu li#nav_hem a.active,
#main_menu li#nav_hem a.active:hover		{ background: url(img/main_menu.jpg) no-repeat 0 -100px; }

#main_menu li#nav_torget a					{ width: 120px; }	
#main_menu li#nav_torget a:hover			{ background: url(img/main_menu.jpg) no-repeat -107px -50px; }
#main_menu li#nav_torget a.active,
#main_menu li#nav_torget a.active:hover		{ background: url(img/main_menu.jpg) no-repeat -107px -100px; }

#main_menu li#nav_wiki a					{ width: 204px; }	
#main_menu li#nav_wiki a:hover				{ background: url(img/main_menu.jpg) no-repeat -227px -50px; }
#main_menu li#nav_wiki a.active,
#main_menu li#nav_wiki a.active:hover 		{ background: url(img/main_menu.jpg) no-repeat -227px -100px; }

#main_menu li#nav_utbildning a				{ width: 151px; }	
#main_menu li#nav_utbildning a:hover		{ background: url(img/main_menu.jpg) no-repeat -431px -50px; }
#main_menu li#nav_utbildning a.active,
#main_menu li#nav_utbildning a.active:hover	{ background: url(img/main_menu.jpg) no-repeat -431px -100px; }

#main_menu li#nav_lokalt a					{ width: 115px; }	
#main_menu li#nav_lokalt a:hover			{ background: url(img/main_menu.jpg) no-repeat -582px -50px; }
#main_menu li#nav_lokalt a.active,
#main_menu li#nav_lokalt a.active:hover		{ background: url(img/main_menu.jpg) no-repeat -582px -100px; }

#main_menu li#nav_crew a					{ width: 104px; }	
#main_menu li#nav_crew a:hover				{ background: url(img/main_menu.jpg) no-repeat -697px -50px; }
#main_menu li#nav_crew a.active,
#main_menu li#nav_crew a.active:hover		{ background: url(img/main_menu.jpg) no-repeat -697px -100px; }

#main_menu li#nav_utrops a					{ width: 199px; }	
#main_menu li#nav_utrops a:hover			{ background: url(img/main_menu.jpg) no-repeat -801px -50px; }
#main_menu li#nav_utrops a.active,
#main_menu li#nav_utrops a.active:hover 	{ background: url(img/main_menu.jpg) no-repeat -801px -100px; }

	
#menu .hem		 	{ background: #2b3336; }
#menu .torget 		{ background: #4c3c1d; }
#menu .wiki 		{ background: #4e4c11; }
#menu .utbildning	{ background: #303d44; }
#menu .lokalt 		{ background: #3f1230; }
#menu .crew		 	{ background: #143846; }
#menu .utrops	 	{ background: #3c1114; }

/* sub menu */

#sub_menu {
	width: 1000px;
	height: 25px;
	}

#sub_menu li {
	padding: 6px 10px 0 15px;
	}

#menu .hem a 		 { color: #95999a; }
#menu .torget a		 { color: #a59d8e; }
#menu .wiki a		 { color: #a7a688; }
#menu .utbildning a	 { color: #979ea1; }
#menu .lokalt a		 { color: #9f8897; }
#menu .crew a		 { color: #899ba2; }
#menu .utrops a 	 { color: #9d8889; }

#sub_menu li a {
	font-size: 11px;
	text-decoration: none;
	}
	
#sub_menu li a:hover {
	color: #fff;
	}
	
#sub_menu li a.active, #sub_menu li a.active:hover {
	color: #fff;
	text-decoration: none;
	}	



/*
-------------------------------------------------------------------------------
Content
-------------------------------------------------------------------------------
*/

.holdright{
	width: 490px;
	height: auto;
	float: right;
	background: transparent;
	display: inline;
	}
	
.holdleft{
	width: 490px;
	height: auto;
	float: left;
	background: transparent;
	display: inline;
	}

#left{
	width: 195px;
	height: auto;
	float: left;
	background: transparent;
	margin: 5px 10px 5px 0;
	padding: 30px 20px 30px 20px;
	border-bottom: solid 1px #cccccc;
	display: inline;
	}

.right{
	width: 195px;
	height: 1000px;
	float: right;
	background: transparent;
	margin: 5px 0 5px 0;
	padding: 30px 30px 30px 20px;
	display: inline;
	line-height: 15px;
	}
	
.right h2 a {
	color: #999999;
	font-size: 11px;
	line-height: 13px;
	text-decoration: underline;
	font-weight: normal;
	float: right;
	display: inline;
	}

.right h3 a {
	font-weight: bold;
	font-size: 11px;
	line-height: 13px;
	text-decoration: none;
	}
	
.right h4 {
	font-style: italic;
	font-weight: normal;
	font-size: 11px;
	line-height: 13px;
	text-decoration: none;
	}
	
#left a {
	font-weight: bold;
	text-decoration: none;
	}

#left h1 {
	font-size: 16px;
	line-height: 13px; 
	}
	
.holdrightutrops{
	width: 235px;
	height: auto;
	float: right;
	background: transparent;
	display: inline;
	}
	
.holdleftutrops{
	width: 735px;
	height: auto;
	float: left;
	background: transparent	url(img/utropstidning.jpg) top no-repeat;
	padding: 90px 5px 0 0;
	margin: 15px -5px 0 0;
	display: inline;
	}
	
#vansterspalt {
	width: 235px;
	height: auto;
	float: left;
	display: inline;
	background: transparent;
	margin: 5px 5px 10px 5px;
	}
	
#utropsleft {
	width: 195px;
	height: auto;
	float: left;
	background: transparent;
	padding: 30px 20px 30px 20px;
	margin: 0 0 0 0;
	border-bottom: 1px solid #cccccc;
	display: inline; 
	}
	
#utropsleft h1 {
	font-size: 18px;
	}
	
#utropsleft h2 a {
	color: #999999;
	font-size: 11px;
	line-height: 13px;
	text-decoration: underline;
	font-weight: normal;
	float: right;
	display: inline;
	}

#hogerspalt {
	width: 480px;
	height: auto;
	float: right;
	background: transparent;
	margin: 5px;
	display: inline;
	}
	
#postutrops{
	width: 440px;
	height: auto;
	float: right;
	background: transparent;
	margin: 0px;
	padding: 30px 20px 30px 20px;
	border-bottom: solid 1px #cccccc;
	display: inline;
	}
	
#postutrops h1 {
	font-size: 18px;
	line-height: 13px;
	}

#postutrops h1 a {
	font-size: 18px;
	line-height: 13px;
	text-decoration: none;
	font-weight: bold;
	}
	
#postutrops h2 a {
	color: #999999;
	font-size: 11px;
	line-height: 13px;
	text-decoration: underline;
	font-weight: normal;
	float: right;
	display: inline;
	}
	
.hem h1 {
	color: #24353C;
	}

.hem h1 a {
	color: #24353C;
	}
	
.blogg h1 {
	color: #F8A828;
	}
	
.blogg h1 a {
	color: #F8A828;
	}
	
.wiki h1 {
	color: #EEDC00;
	}
	
.wiki h1 a {
	color: #EEDC00;
	}
	
.utb h1 {
	color: #92B6C8;
	}

.utb h1 a {
	color: #92B6C8;
	}
	
.lokalt h1 {
	color: #DF0084;
	}
	
.lokalt h1 a {
	color: #DF0084;
	}
	
.crew h1 {
	color: #1FA4D8;
	}
	
.crew h1 a {
	color: #1FA4D8;
	}
	
.utrops h1 {
	color: #DD1B22;
	}
	
.utrops h1 a {
	color: #DD1B22;
	}
	
#post h2 a {
	color: #999999;
	font-size: 11px;
	line-height: 13px;
	text-decoration: underline;
	font-weight: normal;
	float: right;
	display: inline;
	}
	
#left h2 a {
	color: #999999;
	font-size: 11px;
	line-height: 13px;
	text-decoration: underline;
	font-weight: normal;
	float: right;
	display: inline;
	}
	
#right h2 a {
	color: #999999;
	font-size: 11px;
	line-height: 13px;
	text-decoration: underline;
	font-weight: normal;
	float: right;
	display: inline;
	}
	
.right h1 {
	font-size: 16px;
	color: #479A4F;
	line-height: 13px; 
	}

#loggedin{
	width: 153px;
	height: auto;
	float: left;
	background: #f5f5f5;
	margin: 0 0 30px 0;
	padding: 30px 20px 30px 20px;
	border: 1px solid #cccccc;
	line-height: 15px;
	font-size: 11px;
	display: inline;
	}
	
#loggedin h1 {
	font-size: 14px;
	line-height: 15px;
	color: #333333;
	margin: 0 0 5px 0;
	}
	
#loggedin h1 a {
	font-size: 14px;
	line-height: 15px;
	text-decoration: none;
	color: #333333;
	margin: 0 0 5px 0;
	}
	
#loggedin a {
	margin: 0 0 5px 0;
	}
	
ul#inloggad li {
	padding: 0 0 0 0;
	}

ul#inloggad li img {
	margin: 5px 5px -5px 0;
	padding-top: 5px;
	}
	
#righthead{
	width: auto;
	height: auto;
	float: right;
	background: transparent;
	margin: 0 0 5px 5px;
	display: inline;
	}

#post{
	width: 440px;
	height: auto;
	float: left;
	background: transparent;
	margin: 5px;
	padding: 30px 20px 30px 20px;
	border-bottom: solid 1px #cccccc;
	display: inline;
	}
	
#posthead{
	width: auto;
	height: auto;
	float: right;
	background: transparent;
	margin: -5px -5px 0 0;
	display: inline;
	}

#post h1 {
	font-size: 18px;
	line-height: 13px;
	}

#post h1 a {
	font-size: 18px;
	line-height: 13px;
	text-decoration: none;
	font-weight: bold;
	}
	

/* FRONTPOST */

#frontpost{
	width: 398px;
	height: auto;
	float: left;
	background: #fafafa;
	margin: 5px 25px 20px 25px;
	padding: 30px 20px 25px 20px;
	display: inline;
	}

#frontpost h1 {
	font-size: 16px;
	line-height: 13px;
	}

#frontpost h1 a {
	font-size: 16px;
	line-height: 13px;
	text-decoration: none;
	font-weight: bold;
	}
	
#frontpost h2 a {
	color: #999999;
	font-size: 11px;
	line-height: 13px;
	text-decoration: underline;
	font-weight: normal;
	float: right;
	display: inline;
	}

#frontpost h3 a {
	font-weight: bold;
	font-size: 11px;
	line-height: 13px;
	text-decoration: none;
	}
	
#frontpost h4 {
	font-style: italic;
	font-weight: normal;
	font-size: 11px;
	line-height: 13px;
	text-decoration: none;
	}
	
.fronthem {
	border: solid 1px #24353C;
	}
	
.frontblogg {
	border: solid 1px #F8A828;
	}
	
.frontwiki {
	border: solid 1px #EEDC00;
	}

.frontutb {
	border: solid 1px #EEDC00;
	}

.frontlokalt {
	border: solid 1px #DF0084;
	}
	
.frontcrew {
	border: solid 1px #1FA4D8;
	}
	
.frontutrops {
	border: solid 1px #DD1B22;
	}
	
	
.fronthem h1 {
	color: #24353C;
	}

.fronthem h1 a {
	color: #24353C;
	}
	
.frontblogg h1 {
	color: #F8A828;
	}
	
.frontblogg h1 a {
	color: #F8A828;
	}
	
.frontwiki h1 {
	color: #EEDC00;
	}
	
.frontwiki h1 a {
	color: #EEDC00;
	}
	
.frontutb h1 {
	color: #92B6C8;
	}

.frontutb h1 a {
	color: #92B6C8;
	}
	
.frontlokalt h1 {
	color: #DF0084;
	}
	
.frontlokalt h1 a {
	color: #DF0084;
	}
	
.frontcrew h1 {
	color: #1FA4D8;
	}
	
.frontcrew h1 a {
	color: #1FA4D8;
	}
	
.frontutrops h1 {
	color: #DD1B22;
	}
	
.frontutrops h1 a {
	color: #DD1B22;
	}
	
	
/* FOOTER */

.foot{
	width: 970px;
	height: 15px;
	float: left;
	background: transparent;
	text-align: center;
	margin: 20px 5px 5px 5px;
	color: #cccccc;
	display: inline;
	}
	
#wikirubrik{
	width: 300px;
	height: auto;
	float: left;
	background: transparent;
	margin: 30px 20px 0 20px;
	padding: 10px 5px 10px 20px;
	line-height: 14px;
	display: inline;
	border-top: solid 1px #f5f5f5;
	border-left: solid 1px #f5f5f5;
	border-right: solid 1px #f5f5f5;
	}
	
/*
	border-top: solid 1px #cccccc;
	border-left: solid 1px #cccccc;
	border-right: solid 1px #cccccc;
*/
	
#wikirubrik h1 {
	font-size: 18px;	
	line-height: 13px;
	}

#wikirubrik h1 a {
	font-size: 15px;
	line-height: 13px;
	text-decoration: none;
	font-weight: bold;
	}
	
#wiki2{
	width: 694px;
	height: auto;
	float: left;
	background: transparent;
	margin: 0 20px -10px 20px;
	padding: 0px;
	line-height: 14px;
	display: inline;
	}
	
#wiki2 h2 {
	color: #666666;
	font-size: 11px;
	line-height: 13px;
	float: right;
	display: inline;
	}
	
#wiki2 h2 a {
	color: #999999;
	font-size: 11px;
	line-height: 13px;
	text-decoration: underline;
	font-weight: normal;
	display: inline;
	}
	
#wiki{
	width: 653px;
	height: auto;
	float: left;
	background: transparent;
	margin: 0 20px -10px 20px;
	padding: 30px 20px 20px 20px;
	border: solid 1px #f5f5f5;
	line-height: 14px;
	display: inline;
	}
	
/*
#wiki h1 {
	font-size: 18px;
	line-height: 13px;
	}

#wiki h1 a {
	font-size: 18px;
	line-height: 13px;
	text-decoration: none;
	font-weight: bold;
	}
*/
	
#wiki h2 {
	color: #666666;
	font-size: 11px;
	line-height: 13px;
	float: right;
	display: inline;
	}
	
#wiki h2 a {
	color: #999999;
	font-size: 11px;
	line-height: 13px;
	text-decoration: underline;
	font-weight: normal;
	display: inline;
	}
	
#wikipic {
	width: auto;
	height: 130px;
	float: right;
	margin: -20px -10px 0 15px;
	display: inline;
	}
	
#profil {
	width: 120px;
	height: auto;
	float: left;
	background: transparent;
	display: inline;
	}



/*
-------------------------------------------------------------------------------
Form
-------------------------------------------------------------------------------
*/

form p {
	margin: 0 0 5px 0;
	}

input, textarea, select {
	margin:  3px 0 3px 0;
	padding: 5px;
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: 11px;
	line-height: 13px;
	border: #c0c0c0 1px solid;
	width: 180px;
	cursor: pointer;
	}
	
input.submit, #login input.submit {
	padding: 5px 7px;
	background: #f5f5f5;
	font-size: 11px;
	cursor: pointer;
	width: 60px;
	}

#right input {
	width: 60px;
	}

#left input {
	width: 60px;
	}
	
#write_comment textarea {
	width: 100%;
	}
	
#holdsearch {
	width: 200px;
	height: 30px;
	float: right;
	display: inline;
	}

form.sok {
	margin: 0 0 0 0;
	padding: 2px;
	background: #f5f5f5;
	width: 50px;
	height: 16px;
	float: left;
	display: inline;
	}
	
form.sok p {
	margin: 0;
	}
	
form.sok input {
	margin: 2px 0 0 0;
	padding: 5px 5px 5px 5px;
	width: 100px;
	height: 15px;
	background: #f5f5f5;
	font-size: 11px;
	font-weight: normal;
	line-height: 13px;
	border-color: #d0d0d0;
	float: right;
	display: inline;
	}	

form.sok input.sok_submit {
	margin: 2px 0 0 0;
	padding: 10px 0px;
	width: 40px;
	height: 15px;
	background: #f5f5f5;
	color: #808080;
	text-align: center;
	cursor: pointer;
	float: right;
	display: inline;
	}
	
#left textarea {
	width: 180px;
	}
	
/* End CSS Document */


/*
.hem, .fronthem h1 {
	color: #24353C;
	}

.hem, .fronthem h1 a {
	color: #24353C;
	}
	
.blogg, .frontblogg h1 {
	color: #F8A828;
	}
	
.blogg, .frontblogg h1 a {
	color: #F8A828;
	}
	
.wiki, .frontwiki h1 {
	color: #F9E500;
	}
	
.wiki, .frontwiki h1 a {
	color: #F9E500;
	}
	
.utb, .frontutb h1 {
	color: #92B6C8;
	}

.utb, .frontutb h1 a {
	color: #92B6C8;
	}
	
.lokalt, .frontlokalt h1 {
	color: #DF0084;
	}
	
.lokalt, .frontlokalt h1 a {
	color: #DF0084;
	}
	
.crew, .frontcrew h1 {
	color: #1FA4D8;
	}
	
.crew, .frontcrew h1 a {
	color: #1FA4D8;
	}
	
.utrops, .frontutrops h1 {
	color: #DD1B22;
	}
	
.utrops, .frontutrops h1 a {
	color: #DD1B22;
	}
*/
	