html, body {
	width:  100%;
	height: 100%;
	}

body {
	margin:  0;
	padding: 0;
	}

*	{
	margin:  0;
	padding: 0;
	border:  none;
	outline: none;
	}

ul, li {
	list-style-type: none;
	}

.clear {
	clear: both;
	}
	





/*
---------------------------------------------------------------------
Menu
---------------------------------------------------------------------
*/

#menu2 {
	width: auto;
	clear: both;
	}
	
#menu2 ul li {
	float: left;
	}

/* main menu */
	
#footer2 {
	width: 100%;
	height: 34px;
	border-top: 1px solid #000000;
	bottom: 0;
	display: block;
	position: fixed;
	background: transparent url(../img/grad.jpg) repeat-x;
	}
	
#main_menu2 {
	width: 100%;
	height: 34px;
	border-right: 1px solid #000000;
	margin: 0 0 0 0;
	}
	
#main_menu2 li a { 
	height: 34px;
	text-indent: -9999px;
	display: block;
	}


#main_menu2 li#nav_omoss					{ width: 14.20%; background: url(../img/nav_omoss.jpg) top center; border-right: 1px solid #000; }
#main_menu2 li#nav_omoss a					{ /* border-right: 1px solid #000; */ }		
#main_menu2 li#nav_omoss a:hover			{ background: url(../img/nav_omoss.jpg) bottom center; }
#main_menu2 li#nav_omoss a.active,
#main_menu2 li#nav_omoss a.active:hover		{ background: url(../img/nav_omoss.jpg) bottom center; }

#main_menu2 li#nav_blifarsa					{ width: 14.19%; background: url(../img/nav_blifarsa.jpg) top center; border-right: 1px solid #000; }
#main_menu2 li#nav_blifarsa a				{ /* border-right: 1px solid #000; */ }		
#main_menu2 li#nav_blifarsa a:hover			{ background: url(../img/nav_blifarsa.jpg) bottom center; }
#main_menu2 li#nav_blifarsa a.active,
#main_menu2 li#nav_blifarsa a.active:hover	{ background: url(../img/nav_blifarsa.jpg) bottom center; }

#main_menu2 li#nav_bidrag					{ width: 14.19%; background: url(../img/nav_gebidrag.jpg) top center; border-right: 1px solid #000; }
#main_menu2 li#nav_bidrag a					{ /* border-right: 1px solid #000; */ }		
#main_menu2 li#nav_bidrag a:hover			{ background: url(../img/nav_gebidrag.jpg) bottom center; }
#main_menu2 li#nav_bidrag a.active,
#main_menu2 li#nav_bidrag a.active:hover 	{ background: url(../img/nav_gebidrag.jpg) bottom center; }

#main_menu2 li#nav_film						{ width: 14.19%; background: url(../img/nav_film.jpg) top center; border-right: 1px solid #000; }
#main_menu2 li#nav_film a					{ /* border-right: 1px solid #000; */ }		
#main_menu2 li#nav_film a:hover				{ background: url(../img/nav_film.jpg) bottom center; }
#main_menu2 li#nav_film a.active,
#main_menu2 li#nav_film a.active:hover		{ background: url(../img/nav_film.jpg) bottom center; }

#main_menu2 li#nav_tacktill					{ width: 14.19%; background: url(../img/nav_tacktill.jpg) top center; border-right: 1px solid #000; }
#main_menu2 li#nav_tacktill a				{ /* border-right: 1px solid #000; */ }		
#main_menu2 li#nav_tacktill a:hover			{ background: url(../img/nav_tacktill.jpg) bottom center; }
#main_menu2 li#nav_tacktill a.active,
#main_menu2 li#nav_tacktill a.active:hover	{ background: url(../img/nav_tacktill.jpg) bottom center; }

#main_menu2 li#nav_kontakt					{ width: 14.19%; background: url(../img/nav_kontakt.jpg) top center; border-right: 1px solid #000; }
#main_menu2 li#nav_kontakt a				{ /* border-right: 1px solid #000; */ }	
#main_menu2 li#nav_kontakt a:hover			{ background: url(../img/nav_kontakt.jpg) bottom center; }
#main_menu2 li#nav_kontakt a.active,
#main_menu2 li#nav_kontakt a.active:hover	{ background: url(../img/nav_kontakt.jpg) bottom center; }

#main_menu2 li#nav_press					{ width: 14.20%; background: url(../img/nav_press.jpg) top center; }
#main_menu2 li#nav_press a					{  }	
#main_menu2 li#nav_press a:hover			{ background: url(../img/nav_press.jpg) bottom center; }
#main_menu2 li#nav_press a.active,
#main_menu2 li#nav_press a.active:hover 	{ background: url(../img/nav_press.jpg) bottom center; }






/* ----- CRAP ----- */



/* #menu {
	width: auto;
	clear: both;
	}
	
#menu ul li {
	float: left;
	} */

/* main menu */
	
/* #footer {
	width: 100%;
	height: 34px;
	border-top: 1px solid #000000;
	bottom: 0;
	display: block;
	position: fixed;
	background: transparent url(../img/grad.jpg) repeat-x;
	}

#main_menu {
	width: 975px;
	height: 34px;
	background: #000 url(../img/main_menu.jpg) no-repeat 0 0;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	margin: 0 0 0 0;
	}
	
#main_menu li a { 
	height: 34px;
	text-indent: -9999px;
	display: block;
	}

#main_menu li#nav_omoss a					{ width: 140px; }	
#main_menu li#nav_omoss a:hover				{ background: url(../img/main_menu.jpg) top center; }
#main_menu li#nav_omoss a.active,
#main_menu li#nav_omoss a.active:hover		{ background: url(../img/main_menu.jpg) top center; }

#main_menu li#nav_blifarsa a				{ width: 139px; }	
#main_menu li#nav_blifarsa a:hover			{ background: url(../img/main_menu.jpg) no-repeat -140px -34px; }
#main_menu li#nav_blifarsa a.active,
#main_menu li#nav_blifarsa a.active:hover	{ background: url(../img/main_menu.jpg) no-repeat -140px -34px; }

#main_menu li#nav_bidrag a					{ width: 139px; }	
#main_menu li#nav_bidrag a:hover			{ background: url(../img/main_menu.jpg) no-repeat -279px -34px; }
#main_menu li#nav_bidrag a.active,
#main_menu li#nav_bidrag a.active:hover 	{ background: url(../img/main_menu.jpg) no-repeat -279px -34px; }

#main_menu li#nav_film a					{ width: 139px; }	
#main_menu li#nav_film a:hover				{ background: url(../img/main_menu.jpg) no-repeat -418px -34px; }
#main_menu li#nav_film a.active,
#main_menu li#nav_film a.active:hover		{ background: url(../img/main_menu.jpg) no-repeat -418px -34px; }

#main_menu li#nav_tacktill a				{ width: 139px; }	
#main_menu li#nav_tacktill a:hover			{ background: url(../img/main_menu.jpg) no-repeat -557px -34px; }
#main_menu li#nav_tacktill a.active,
#main_menu li#nav_tacktill a.active:hover	{ background: url(../img/main_menu.jpg) no-repeat -557px -34px; }

#main_menu li#nav_kontakt a					{ width: 139px; }	
#main_menu li#nav_kontakt a:hover			{ background: url(../img/main_menu.jpg) no-repeat -696px -34px; }
#main_menu li#nav_kontakt a.active,
#main_menu li#nav_kontakt a.active:hover	{ background: url(../img/main_menu.jpg) no-repeat -696px -34px; }

#main_menu li#nav_press a					{ width: 140px; }	
#main_menu li#nav_press a:hover				{ background: url(../img/main_menu.jpg) no-repeat -835px -34px; }
#main_menu li#nav_press a.active,
#main_menu li#nav_press a.active:hover 		{ background: url(../img/main_menu.jpg) no-repeat -835px -34px; }

*/
