h1, h2 {
  font-family: $font-face-stack;
}

h1 {
  font-size: 36px;
  font-size: 2.3rem;
  font-weight: 700;
  line-height: 1.2;
  margin: 0.3em 0 0;
  text-transform: uppercase;

  @include media(m) {
    font-size: 48px;
    font-size: 3rem;
  }

  @include media(l) {
    font-size: 95px;
    font-size: 3.8rem;
  }
}

h2 {
  font-size: 17px;
  font-size: 1.1rem;
  font-weight: 300;
  letter-spacing: 0;
  margin: 0;
  padding-right: $toggle-width - 3;

  @include media(l) {
    font-size: 19px;
    font-size: 1.2rem;
  }
}

h3, h4, strong {
  color: $font-color;
  font-weight: 400;
}

h3 {
  font-size: 1em;
  margin: 0 0 8px;
}

h4 {
  margin: 0;
}
