$base-font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-face-stack: 'Inter UI', $base-font-stack;
$headline-font-stack: 'Open Sans Condensed', $base-font-stack;

$base-font-size: 16;

$asset-path: "/assets";
$font-path: $asset-path + "/fonts";
$fa-font-path: $font-path;

$content-max-width: 1600px;

$highlight-color: #fd3f47;

@mixin media($breakpoint) {
  @if $breakpoint == 'm' {
    @media (min-width: 610px) {
      // Tablet
      @content;
    }
  }

  @else if $breakpoint == 'l' {
    @media (min-width: 940px) {
      // Desktop
      @content;
    }
  }

  @else if $breakpoint == 'xl' {
    @media (min-width: 1320px) {
      // Very large screen
      @content;
    }
  }

  @else {
    @media (min-width: $breakpoint) {
      // Custom
      @content;
    }
  }
}

@mixin font-face($name, $pathname, $weight: 400, $style: normal) {
  @font-face {
    font-family: $name;
    font-style: $style;
    font-weight: $weight;
    src: url('#{$font-path}/Inter-UI.var.woff2') format("woff2-variations"),
         url("#{$font-path}/Inter-UI-#{$pathname}.woff2") format("woff2"),
         url("#{$font-path}/Inter-UI-#{$pathname}.woff") format("woff");
  }
}

// Font-size & line-height
@mixin font-size($font-size, $line-height: null) {
  font-size: $font-size + px;
  font-size: ($font-size / $base-font-size) * 1rem;
  @if $line-height != null {
    line-height: $line-height;
  }
}

@mixin no-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
