html, body {
  font-size: 100%;
}

html {
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
  font-synthesis: none;                 // Don't allow the font to create sythetic bold/italic
   -webkit-font-smoothing: antialiased; // Improve (or in some cases screw with) safari's legibility somewhat
  -moz-osx-font-smoothing: grayscale;   // Improve firefox's legibility somewhat
}

html, button, input, select, textarea { font-family: sans-serif; }

body {
  line-height: 1;
  margin: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img,
svg {
  vertical-align: middle;
}
