// Text selection
@mixin text-selection {
  background: $icon-color;
  color: #fff;
  text-shadow: none;
}

::-moz-selection  { @include text-selection; }
::selection       { @include text-selection; }

p { margin: 1em 0; }

img {
  border: 0;
  display: block;
  image-rendering: optimizeQuality;
  width: 100%;
  -ms-interpolation-mode: bicubic;
}

figure { margin: 0; }