extends layout

block content
  ul.projects
    - each project in data.projects
      if project.active
        include partials/_item.jade
    - each company in data.companys
      p
        =company.name
    include partials/_contact.jade
