extends layout

block content
  ul.projects
    - each project in data.projects
      include partials/_item.jade
    include partials/_contact.jade
    li
      button#toggle-all.toggle-button(data-expanded='Collapse all', data-collapsed='Expand all')
        span Expand all
