.header {
  padding: 110px 30px;

  &:before {
    animation-name: henrik;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: .3s;

    background: url(#{$asset-path}/img/henrikbackman-2018.jpg) 50% 50% no-repeat;
    background-size: contain;
    border-radius: 31% 67% 73% 33% / 34% 34% 74% 74%;
    box-shadow: 3px 3px 14px rgba(0, 0, 0, .9);
    content: "";
    display: inline-block;
    height: 150px;
    margin-right: 25px;
    vertical-align: middle;
    width: 150px;
  }

  .head-wrap {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
  }
}

@keyframes henrik {
  5%,
  95% {
    border-radius: 31% 67% 73% 33% / 34% 34% 74% 74%;
    box-shadow: 3px 3px 14px rgba(0, 0, 0, .9);
  }

  20% {
    border-radius: 35% 71% 69% 29% / 38% 30% 78% 70%;
    box-shadow: 2px -5px 10px rgba(0, 0, 0, .8);
  }

  40% {
    border-radius: 60% 30% 75% 50% / 42% 35% 70% 60%;
    box-shadow: 7px 5px 17px rgba(0, 0, 0, .9);
  }

  60% {
    border-radius: 41% 72% 76% 40% / 40% 51% 61% 56%;
    box-shadow: -6px -9px 10px rgba(0, 0, 0, .9);
  }

  80% {
    border-radius: 70% 90% 50% 20% / 60% 50% 35% 50%;
    box-shadow: 10px 0 14px rgba(0, 0, 0, .9);
  }
}
