$contact-image-small-size: 75px;
$contact-image-medium-size: 110px;
$contact-image-big-size: 140px;

.projects {
  font-size: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}

  .item,
  .contact {
    display: inline-block;
    @include font-size(13);
    margin: 0 2% 30px;
  }

  .item {
    background: #fff;
    border-radius: $item-radius;
    box-shadow: 0 0 1px rgba(0, 0, 0, .2);
    overflow: hidden;
    position: relative;
    vertical-align: top;
    width: 96%;

    @include media(m) {
      width: 46%;
    }

    @include media(l) {
      width: 29.33333%;
    }

    p {
      margin: 0;
    }

    .info {
      strong {
        margin-right: 3px;
      }

      &, a {
        color: $font-color-light;
      }
    }

    img {
      box-shadow: 0 0 8px rgba(0, 0, 0, .2);
    }

    figcaption {
      padding: 20px 15px;
    }
  }

  .contact {
    box-sizing: border-box;
    padding-left: $contact-image-small-size + 15;
    position: relative;
    width: 96%;

    @include media(m) {
      padding-left: $contact-image-medium-size + 30;
    }

    @include media(l) {
      padding-left: $contact-image-big-size + 30;
    }

    &:before {
      background: url(#{$asset-path}henrik-backman.jpg) 50% 50% no-repeat;
      background-size: contain;
      box-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
      border-radius: 50%;
      content: "";
      display: block;
      height: $contact-image-small-size;
      left: 0;
      position: absolute;
      top: 0;
      width: $contact-image-small-size;

      @include media(m) {
        height: $contact-image-medium-size;
        width: $contact-image-medium-size;
      }

      @include media(l) {
        height: $contact-image-big-size;
        width: $contact-image-big-size;
      }
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }

@include media(l) {
  body,
  .item,
  .contact {
    @include font-size(14);
  }
}
