body {
  background-color: $bg-color;
  box-shadow: inset 0 0 100px rgba(0, 0, 0, .2);
  color: $font-color;
  font: 300 13px/1.6 $font-stack;
  font: 300 0.8125rem/1.6 $font-stack;
  letter-spacing: -0.01em;
}

.wrap {
  height: auto;
  margin: 0 auto;
  max-width: 1700px;
  padding: 50px 20px 30px;
  width: auto;
}

.header {
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 0 50px 0;
  text-align: center;
  width: 100%;

  p {
    margin: 0;
  }
}
